<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cn.com.zhongli.test.print" name="print" schema="schema/cn.com.zhongli.test.print.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.com.zhongli.test.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="cn.com.zhongli.test.Perspective"
            id="cn.com.zhongli.test.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="cn.com.zhongli.test.View"
            id="cn.com.zhongli.test.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="cn.com.zhongli.test.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="cn.com.zhongli.test.print">
      <output
            Class="cn.com.zhongli.test.bean.ClassInfo1"
            ClassName="高一（1）班"
            ClassObj="cn.com.zhongli.test.bean.ClassInfo1">
         <input
               Age="16"
               Group="高中部"
               Name="小依"
               Sex="女">
         </input>
      </output>
      <output
            Class="cn.com.zhongli.test.bean.ClassInfo2"
            ClassName="高二（1）班"
            ClassObj="cn.com.zhongli.test.bean.ClassInfo2">
         <input
               Age="18"
               Group="高中部"
               Name="小三"
               Sex="女">
         </input>
      </output>
      <output
            Class="cn.com.zhongli.test.bean.ClassInfo3"
            ClassName="高二（2）班"
            ClassObj="cn.com.zhongli.test.bean.ClassInfo3">
         <input
               Age="17"
               Group="高中部"
               Name="老二"
               Sex="男">
         </input>
      </output>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="cn.com.zhongli.test.application"
            name="test">
         <property
               name="appName"
               value="test">
         </property>
      </product>
   </extension>

</plugin>
